.input-group {
  position: relative;
}

.input {
  border: solid 1.5px #e31616;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: black;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
.input:valid {
  outline: none;
  border: 1.5px solid #e31616;
}

.input:focus ~ label,
.input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: #f1f1f1;
  padding: 0 0.2em;
  color: black;
}

/* button */

.btn {
  --color: #e31616;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.btn:hover {
  color: #fff;
}

.btn:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.btn:hover:before {
  top: -30px;
  left: -30px;
}

.btn:active:before {
  background: #010101;
  transition: background 0s;
}

/* Loading */
.spinner {
  --size: 30px;
  --first-block-clr: #be0f2c;
  --second-block-clr: #f2bd00;
  --clr: #111;
  width: 100px;
  height: 100px;
  position: relative;
}

.spinner::after,
.spinner::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
}

.spinner::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes up {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}

/* sidebar */
.sidebar {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Userpage */
/* User input */
.allContent{

  height:75vh;
  width: 100%;
  margin: 0;
}
.labelC{
  display: flex;
  margin: 2%;
}

.textTop{
  font-weight: 800;
  margin: 1%;
}
.textTop2{
  font-weight: 400;
  margin-top: 1%;
  margin-left: 1%;
  width: 20%;
}
/* Text Part*/
.textName{
  margin-top: 1%;
  font-weight: 800;
}
.textUser{
  font-weight: 800;
  display: flex;
}



/* Text part final */

.inputAll{

  height: max-content;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
}
.inputTop{
  width: 60%;
  margin-top: 5%;
  height: max-content;
}

.footerUnder2{

  display: flex;
  width: 100%;
  gap: 2%;
}
.footerUnder1{

  display: flex;
  width: 100%;  
  gap: 2%;
}

.inputFooter{
  margin-top: 4%;
  display: flex;
  flex-direction: column-reverse

}


.nameUser{
  margin-top: 2%;
  width: 100%;
  
}

.nameUser2{
  margin-top: 2%;
  width: 50%;
  justify-content: space-between;
  
}
.nameUser3{
  margin-top: 2%;
  width: 50%;
  justify-content: space-between;
}
.inputUnder{
  gap: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inputUnder2{
  gap: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputUser {
  width: 100%;
  height: 80%;
  border-radius: 7px;
  border: 0;
  outline: auto grey;
  padding-inline: 15px;
  font-size: 16px;
  transform: all 200ms;

}

.inputUser:focus {

  box-shadow: 0 0 50px rgb(255, 255, 255);
  border: 1px solid grey;
}
.inputUser2 {
  width: 100%;
  height: 2.5em;
  border-radius: 7px;
  border: 0;
  outline: auto grey;
  padding-inline: 15px;
  font-size: 16px;
  transform: all 200ms;

}

.inputUser2:focus {

  box-shadow: 0 0 50px rgb(255, 255, 255);
  border: 1px solid grey;
}